<div class="dashboard">
    <div class="landing_page" id="landing_page">
        <div class="information">
            <p class="game">LEAGUE OF LEGENDS</p>
            <div class="section_input">
                <input type="text" class="input_search" placeholder="{{ placeHolder }}" name="summonerName" id="" [(ngModel)]="summonerName" autocomplete="off">
                <div class="section_search_icon" (click)="searchSummonerName()">
                    <span class="material-symbols-outlined">
                        search
                    </span>
                </div>
            </div>
            <span class="icon_arrow_down material-symbols-outlined">expand_more</span>
        </div>
    </div>


    <h1>Campeones gratis de la semana</h1>

    <div *ngFor="let champion of freeChampions">
        {{ champion }}
    </div>


    <h1>Campeones gratis para nuevos jugadores</h1>
    <p>Recuerda que estos campeones se juegan máximo hasta nivel {{ maxNewPlayerLevel }}</p>

    <div *ngFor="let champion of freeChampions">
        {{ champion }}
    </div>






    <app-blog></app-blog>
</div>