<div class="dashboard">
    <div class="landing_page" id="landing_page">
        <div class="information">
            <p class="game">LEAGUE OF LEGENDS</p>
            <div class="section_input">
                <input type="text" class="input_search" placeholder="{{ placeHolder }}" name="" id="">
                <div class="section_search_icon">
                    <span class="material-symbols-outlined">
                        search
                    </span>
                </div>
            </div>
            <span class="icon_arrow_down material-symbols-outlined">expand_more</span>
        </div>
    </div>
    <app-blog></app-blog>
</div>